
<h2 class='header-align'>Add User Details</h2>
<div class="container">
  <!-- <div> -->
  <!-- <a routerLink='/userList'>User List</a> | <a routerLink='/login'>login</a> -->
  <!-- </div> -->
  <form #myForm="ngForm" (ngSubmit)="onFormSubmit(myForm.value)">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" class="form-control" placeholder="Enter first name" name="fname" ngModel #firstname="ngModel"  required>
    </div>
	<div class='alert alert-danger' *ngIf='firstname.errors?.required'>
	     First Name is required
	</div>
	<div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname" 
	    ngModel #lastName="ngModel" required>
    </div>
	<div class='alert alert-danger' *ngIf='lastName.errors?.required'>
	     Last Name is required
	</div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
	  ngModel #email="ngModel" required>
    </div>
	<div class='alert alert-danger' *ngIf='email.errors?.required'>
	     Last Name is required
	</div>
	<div class="form-group">
        <label><input type="radio" name="gender"> Male </label>
		<label><input type="radio" name="gender"> Female </label>
    </div>
	<div class="form-group">
        <label for="country">Country:</label>
		<select name='country' id='country'>
		<option value=''>Select the country </option>
		<option *ngFor="let country of countryObj" value={{country.country_code}}> {{country.country_name }} </option>
		</select>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"
	  ngModel #userpwd="ngModel" required>
    </div>
	<div class="alert alert-danger" *ngIf="userpwd.errors?.required">
	    Password is required
	</div>
    <button type="submit" class="btn btn-primary" [disabled] = "myForm.invalid">Submit</button>
	
{{myForm.value|json }}
  </form>
</div>

