<h2 class='category-head-align '>Add CATEGORY</h2>
<div class="container">
  <form #addCategoryData="ngForm" (ngSubmit)="addCategory(addCategoryData.value)">
    <div class="form-group">
      <label for="cname">Category Name:</label>
      <input type="text" class="form-control" placeholder="Enter Category name" name="cname" ngModel #categoryname="ngModel"  required>
    </div>
	<div class='alert alert-danger' *ngIf='categoryname.errors?.required'>
	     Category Name is required
	</div>
	<div class="form-group">
        <label for="cstatus">Active/ Inactive:</label>
		<select name='cstatus' id='cstatus' class="form-control input-md"  ngModel #cstatus="ngModel">
		<option value=''>Select the Status</option>
		<option value='1'>Active</option>
		<option value='0'>In Active</option>
		</select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled] = "addCategoryData.invalid">Submit</button>
	
{{addCategoryData.value|json }}
  </form>
</div>


