<h2 class="login-align">Add User Details</h2>
<div class="container">
  <!-- <div> -->
  <!-- <a routerLink='/userList'>User List</a> | <a routerLink='/restore'>Restore</a> -->
  <!-- </div> -->
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <div *ngIf="message" class="alert alert-danger">{{message}}</div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
	  ngModel #email="ngModel" required>
    </div>
	<!--<div class='alert alert-danger' *ngIf='email.errors?.required'>
	     Last Name is required
	</div>-->
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"
	  ngModel #userpwd="ngModel" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled] = "loginForm.invalid">Submit</button>
  </form>
</div>

