
 <div class="container">
  <h2 class='userlist-align'>User Details</h2> 
 <!-- <div> -->
  <!-- <a routerLink='/'>Back</a> -->
  <!-- </div>   -->
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
		<th>Actions</th>
		<th></th>
      </tr>
    </thead>
    <tbody>
	<ng-container *ngFor="let userdata of data">
      <tr>
        <td>{{userdata.fname}} </td>
        <td>{{userdata.lname}}</td>
        <td>{{userdata.email}}</td>
		<td><a routerLink="/update/{{userdata.reg_id}}">Edit</a></td>
		<td>Delete</td>
      </tr>
	</ng-container>
    </tbody>
  </table>
 </div>
