<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="padding-left:160px;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/'>Dash Board</a>
            </li>
			<li class="nav-item active">
               <a class="nav-link" routerLink='/addproduct'>Add Product</a>
            </li>
			<li class="nav-item active">
               <a class="nav-link" routerLink='/productLsit'>View Products</a>
            </li>
			<li class="nav-item active">
               <a class="nav-link" routerLink='/addcategory'>Add category</a>
            </li>
			
             <!-- <li class="nav-item"> -->
                 <!-- <a class="nav-link" routerLink='/userList'>User List</a> -->
            <!-- </li> -->
        </ul>
    </div>
    <!-- <div class="mx-auto order-0"> -->
        <!-- <a class="navbar-brand mx-auto" href="#">Navbar 2</a> -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"> -->
            <!-- <span class="navbar-toggler-icon"></span> -->
        <!-- </button> -->
    <!-- </div> -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a *ngIf="iD == 0" class="nav-link" routerLink='/login'>SignIn</a>
            </li>
            <li class="nav-item">
                <a *ngIf="iD == 0 " class="nav-link" routerLink='/signup'>Sign Up</a>
                <a *ngIf="iD?.length > 0" class="nav-link" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>