<p id="sum">
    {{sum}}
</p>
<p id="sub">
  {{ sub }}
</p>
<p id="division">
{{division}}
</p>
<p id="multiplication">
{{multiplication}}
</p>
<p>
    <select id="maths_type" (change) = "onChangeCalculation($event.target.value)">
         <option value="add"> Add </option>
	     <option value="sub"> Sub </option>
	     <option value="multi"> Multiplication  </option>
	     <option value="div"> Division  </option>
	 </select>
</p>