
<h2 class='header-align'>Add PRODUCT</h2>
<div class="container">
  <!-- <div> -->
  <!-- <a routerLink='/userList'>User List</a> | <a routerLink='/login'>login</a> -->
  <!-- </div> -->
  <form #addProducts="ngForm" (ngSubmit)="addProduct(addProducts.value)">
    <div class="form-group">
      <label for="pname">PRODUCT NAME:</label>
      <input type="text" class="form-control" placeholder="ENTER product name" name="pname" ngModel #firstname="ngModel"  required>
    </div>
	<div class='alert alert-danger' *ngIf='firstname.errors?.required'>
	     Product Name is required
	</div>
	<div class="form-group">
      <label for="pdesc">PRODUCT DESCRIPTION:</label>
      <input type="text" class="form-control" id="pdesc" placeholder="ENTER PRODUCT DESCRIPTION" name="pdesc" 
	    ngModel #productDesc="ngModel" required>
    </div>
	<div class="form-group">
      <label for="pdesc">PRODUCT PRICE:</label>
      <input type="text" class="form-control" id="pprice" placeholder="ENTER PRODUCT PRICE" name="pprice" 
	    ngModel #pprice="ngModel" required>
    </div>
	<div class="form-group">
      <!-- <label for="pdesc">PRODUCT IMAGE:</label> -->
      <!-- <input type="file" class="form-control" id="pimage" name="pimage" ngModel #pimage="ngModel" (change)="fileUploader($event)"> -->
	  <label class='btn btn-default'>UPLOAD PRODUCT IMAGE
          <input type="file" hidden id="pimage" name="pimage" ngModel #pimage="ngModel" (change)="fileUploader($event)">
	  </label>
    </div>
	<div class="form-group">
        <label for="pcategory">PRODUCT CATEGORY:</label>
		<select name='pcategory' id='pcategory' class="form-control input-md" ngModel #pcategory="ngModel">
		<option value=''>Select the Category</option>
		<option *ngFor="let cdetails of categoryObj" value="{{cdetails.cid}}">{{cdetails.cname}}</option>
		</select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled] = "addProducts.invalid">Submit</button>
	
<!--{{addProducts.value|json }} -->
  </form>
</div>

