<div class="container">
  <h2 class="update-align">Edit User Details</h2>
  <form #editForm="ngForm" (ngSubmit)="editUserDetail(editForm.value)">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" class="form-control" placeholder="Enter first name" name="fname" ngModel #firstname="ngModel" [(ngModel)] = "fname">
    </div>
	<div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname" 
	    ngModel #lastName="ngModel" [(ngModel)] = "lName">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
	  ngModel #email="ngModel" [(ngModel)] = "userEmail">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
