
 <div class="container">
  <h2 class='userlist-align'>Products List</h2> 
 <!-- <div> -->
  <!-- <a routerLink='/'>Back</a> -->
  <!-- </div>   -->
  <table class="table">
    <thead>
      <tr>
        <th>product Name</th>
        <th>Product Desc</th>
		<th>Product Category</th>
		<th>Product Image</th>
        <th>Product Price</th>
		<!--<th>Actions</th>-->
		<th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productData of productResult">
        <td>{{productData.pname}}</td>
        <td>{{productData.pdesc}}</td>
		<td>{{productData.cname}}</td>
		<td><img src="http://localhost/angular-php/upload/{{productData.pimage}}" height="50"> {{productData.pimage}}</td>
        <td>{{productData.price}}</td>
		<!-- <td><a routerLink="/update/{{userdata.reg_id}}">Edit</a></td> -->
		<!-- <td>Delete</td> -->
      </tr>
    </tbody>
  </table>
 </div>
